<mat-accordion *ngIf="actionResponse && action">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!--<p *ngIf="actionResponse.getTitle().length>0"><b>{{actionResponse.getTitle()}}</b></p>-->
    <p *ngIf="action.description">{{action.description}}</p>

    <p *ngIf="action.textEquivalent">{{action.textEquivalent}}</p>

    <!--Show resources-->
    <table>
      <td> <div *ngIf=(action.type)>{{getTypeDescription()}}</div> </td>
      <td> <app-resource-display *ngIf="resource" [resource]=resource ></app-resource-display> </td>
    </table>

    <!--&lt;!&ndash;Checkbox&ndash;&gt;-->
    <div *ngIf="(action.action && action.action.length>0 && !allOrNone && !radio)">
      <table>
        <tr *ngFor="let subActionResponse of subActionResponses">
          <td>
            <!--<input *ngIf="(radio==false && hascheckBox)" type="checkbox"  name="selection" [value]=selectedAction.id (change)="checkboxChange(selectedAction.id)">-->
            <mat-checkbox *ngIf= "(radio==false && hascheckBox)" #checkBox type="checkbox"  name="selection"
                          [(ngModel)] = "subActionResponse.checked"
                          [value]     = "subActionResponse.id"
                          [disabled]  = "subActionResponse.disabled"
                          (change)    = "checkboxChange($event, checkBox, subActionResponse)"
            >
            </mat-checkbox>
            <input *ngIf="radio" type="radio" name="selection" >
          </td>
          <td><app-request-group-action-display [actionResponse]=subActionResponse (outputUpdate)="updateResult($event)" ></app-request-group-action-display></td>
        </tr>
      </table>
    </div>
    <!--&lt;!&ndash;Radio&ndash;&gt;-->
    <div *ngIf="( action.action && action.action.length>0 && !allOrNone && radio)">
      <mat-radio-group class="example-radio-group" [(ngModel)]="selectedRadio" (change)="radioChange()">
        <table>
          <tr *ngFor="let subActionResponse of subActionResponses">
            <mat-radio-button
              [value]="subActionResponse">
              <app-request-group-action-display [actionResponse]=subActionResponse (outputUpdate)="updateResult($event)"></app-request-group-action-display>
            </mat-radio-button>
          </tr>
        </table>
      </mat-radio-group>
    </div>
    <!--&lt;!&ndash;All Or None&ndash;&gt;-->
    <div *ngIf="(action.action && action.action.length>0 && allOrNone)">
      <table>
        <tr>
          <td>
            <mat-checkbox #checkBox type="checkbox"  name="selection"
                          [(ngModel)] = "allOrNoneChecked"
                          [disabled]  = "allOrNoneDisabled"
                          (change)    = "checkboxChange($event, checkBox, null)"
            ></mat-checkbox>
          </td>
          <td >
            <table>
              <tr *ngFor="let subActionResponse of subActionResponses">
                <td><app-request-group-action-display [actionResponse]=subActionResponse
                                                      (outputUpdate)="updateResult($event)"></app-request-group-action-display></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>
