<mat-tab-group>
  <mat-tab label="list">
    <div *ngIf="resources">
      <button mat-button (click)="doPrevious()" [disabled]="!previous">previous</button>
      <button mat-button (click)="doNext()" [disabled]="!next">next</button>

      <mat-divider></mat-divider>
      <table>
        <tr *ngFor="let entry of bundle.entry">
          <td>
            <div *ngIf="entry.resource.resourceType==='Patient'">
              <button mat-icon-button *ngIf="!currentPatient">
                <mat-icon (click)="selectPatient(entry.resource)">label</mat-icon>
              </button>
              <button mat-icon-button *ngIf="currentPatient && (entry.resource.id===currentPatient.id)">
                <mat-icon (click)="selectPatient(entry.resource)">label_off</mat-icon>
              </button>
            </div>
          </td>
          <td *ngIf="entry.request && entry.request.method"> {{entry.request.method}}</td>
          <td><app-resource-viewer [resource]=entry.resource></app-resource-viewer></td>
        </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="resource">
    <app-fhir-element [element]="resource"></app-fhir-element>
  </mat-tab>
  <mat-tab label="json">
    <ngx-json-viewer [json]="resource"></ngx-json-viewer>
  </mat-tab>
</mat-tab-group>
