<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar>
  <mat-toolbar-row>FHIR Viewer</mat-toolbar-row>
  <mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="selectHome()">home</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="selectContext()">folder</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row  *ngIf="isReady()">
      <button mat-icon-button>
        <mat-icon (click)="selectPatient()">people</mat-icon>
      </button>
      <div *ngIf="currentPatientString">Patient:{{currentPatientString}}</div>
      <!--<button mat-button *ngIf="hasCurrentPatient()" matSuffix mat-icon-button aria-label="Clear"  (click)="clearPatient()"><mat-icon>close</mat-icon></button>-->
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="selectBack()">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="showSpinner">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="!showSpinner">
  <router-outlet></router-outlet>
</div>
