<div *ngIf="!resource">
  <mat-progress-spinner
          color="primary"
          mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="resource">
  <!--<h1><b>{{resource.resourceType}}:</b> {{resource.id}}</h1>-->
  <div *ngIf="questionnaireResponse">
    <app-questionnaire-response-display [resource]="questionnaireResponse"></app-questionnaire-response-display>
  </div>
  <button *ngIf="!hasbeenStored" mat-button (click)="store()">Store</button>
  <button *ngIf="hasbeenStored" mat-button (click)="store()">Update</button>
</div>
