<div *ngIf="resource">
  <div ngSwitch="{{resource.resourceType}}">
    <app-plan-definition-display        *ngSwitchCase="'PlanDefinition'"        [resource]="resource"></app-plan-definition-display>
    <app-activity-definition-display    *ngSwitchCase="'ActivityDefinition'"    [resource]="resource"></app-activity-definition-display>
    <app-careplan-display               *ngSwitchCase="'CarePlan'"              [resource]="resource"></app-careplan-display>
    <app-measure-display                *ngSwitchCase="'Measure'"               [resource]="resource"></app-measure-display>
    <app-request-group-display          *ngSwitchCase="'RequestGroup'"          [resource]="resource"></app-request-group-display>
    <app-questionnaire-response-display *ngSwitchCase="'QuestionnaireResponse'" [resource]="resource"></app-questionnaire-response-display>
    <app-questionnaire-display          *ngSwitchCase="'Questionnaire'"         [resource]="resource"></app-questionnaire-display>
    <app-patient-viewer                 *ngSwitchCase="'Patient'"               [resource]="resource"></app-patient-viewer>
    <app-bundle-display                 *ngSwitchCase="'Bundle'"                [resource]="resource"></app-bundle-display>
    <app-group-display *ngSwitchCase="'Group'" [resource]="resource"></app-group-display>
    <div *ngSwitchDefault>
      <app-generic-display [resource]="resource"></app-generic-display>
    </div>
  </div>
</div>
