<button mat-raised-button (click)="fillIn()">Fill In</button>
<mat-tab-group>
  <mat-tab label="normal">
    <app-fhir-element [element]="resource"></app-fhir-element>
  </mat-tab>
  <!--<mat-tab label="nice">-->
    <!--<h2>{{title}}</h2>-->
    <!--<p *ngIf="questionnaire.description">{{questionnaire.description}}</p>-->
    <!--<table>-->
      <!--<tr>-->
        <!--<td>status</td><td>{{questionnaire.status}}</td>-->
      <!--</tr>-->
    <!--</table>-->
    <!--<app-questionnaire-display-questionnaireItem *ngFor="let questionnaireItem of questionnaire.questionnaireItem" [questionnaireItem]="questionnaireItem"></app-questionnaire-display-questionnaireItem>-->
  <!--</mat-tab>-->
  <mat-tab label="json">
    <ngx-json-viewer [json]="resource"></ngx-json-viewer>
  </mat-tab>
</mat-tab-group>


